<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-users"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Employees</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/employees"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/employees"><i data-feather="file-text" appFeatherIcon class="icon-sm me-2"></i> <span class="">Reports</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.employees_count ? (dashboardData.employees_count | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-slack"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Company Assets</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.company_asset ? (dashboardData.company_asset | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-slack"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Company Asset Returns</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.company_asset_return ? (dashboardData.company_asset_return | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-dollar-sign"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Bank A/C</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.company_asset_return ? (dashboardData.company_asset_return | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-layers"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Loans</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.total_loans ? (dashboardData.total_loans | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-layers"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Paid Loans</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.paid_loans ? (dashboardData.paid_loans | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-layers"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Un-Paid Loans</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.unpaid_loans ? (dashboardData.unpaid_loans | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-layers"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Remaining Loans</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/company-assets"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/company-assets"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.remaining_loans ? (dashboardData.remaining_loans | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Projects</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton7">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th class="pt-0">#</th>
                <th class="pt-0">Project Name</th>
                <th class="pt-0">Start Date</th>
                <th class="pt-0">Due Date</th>
                <th class="pt-0">Status</th>
                <th class="pt-0">Assign</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>NobleUI jQuery</td>
                <td>01/01/2024</td>
                <td>26/04/2024</td>
                <td><span class="badge bg-danger">Released</span></td>
                <td>Leonardo Payne</td>
              </tr>
              <tr>
                <td>2</td>
                <td>NobleUI Angular</td>
                <td>01/01/2024</td>
                <td>26/04/2024</td>
                <td><span class="badge bg-success">Review</span></td>
                <td>Carl Henson</td>
              </tr>
              <tr>
                <td>3</td>
                <td>NobleUI ReactJs</td>
                <td>01/05/2024</td>
                <td>10/09/2024</td>
                <td><span class="badge bg-info">Pending</span></td>
                <td>Jensen Combs</td>
              </tr>
              <tr>
                <td>4</td>
                <td>NobleUI VueJs</td>
                <td>01/01/2024</td>
                <td>31/11/2024</td>
                <td><span class="badge bg-warning">Work in Progress</span>
                </td>
                <td>Amiah Burton</td>
              </tr>
              <tr>
                <td>5</td>
                <td>NobleUI Laravel</td>
                <td>01/01/2024</td>
                <td>31/12/2024</td>
                <td><span class="badge bg-danger text-white">Coming soon</span></td>
                <td>Yaretzi Mayo</td>
              </tr>
              <tr>
                <td>6</td>
                <td>NobleUI NodeJs</td>
                <td>01/01/2024</td>
                <td>31/12/2024</td>
                <td><span class="badge bg-primary">Coming soon</span></td>
                <td>Carl Henson</td>
              </tr>
              <tr>
                <td class="border-bottom">3</td>
                <td class="border-bottom">NobleUI EmberJs</td>
                <td class="border-bottom">01/05/2024</td>
                <td class="border-bottom">10/11/2024</td>
                <td class="border-bottom"><span class="badge bg-info">Pending</span></td>
                <td class="border-bottom">Jensen Combs</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-lg-12 col-xl-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Projects</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton7">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th class="pt-0">#</th>
                <th class="pt-0">Project Name</th>
                <th class="pt-0">Start Date</th>
                <th class="pt-0">Due Date</th>
                <th class="pt-0">Status</th>
                <th class="pt-0">Assign</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>NobleUI jQuery</td>
                <td>01/01/2024</td>
                <td>26/04/2024</td>
                <td><span class="badge bg-danger">Released</span></td>
                <td>Leonardo Payne</td>
              </tr>
              <tr>
                <td>2</td>
                <td>NobleUI Angular</td>
                <td>01/01/2024</td>
                <td>26/04/2024</td>
                <td><span class="badge bg-success">Review</span></td>
                <td>Carl Henson</td>
              </tr>
              <tr>
                <td>3</td>
                <td>NobleUI ReactJs</td>
                <td>01/05/2024</td>
                <td>10/09/2024</td>
                <td><span class="badge bg-info">Pending</span></td>
                <td>Jensen Combs</td>
              </tr>
              <tr>
                <td>4</td>
                <td>NobleUI VueJs</td>
                <td>01/01/2024</td>
                <td>31/11/2024</td>
                <td><span class="badge bg-warning">Work in Progress</span>
                </td>
                <td>Amiah Burton</td>
              </tr>
              <tr>
                <td>5</td>
                <td>NobleUI Laravel</td>
                <td>01/01/2024</td>
                <td>31/12/2024</td>
                <td><span class="badge bg-danger text-white">Coming soon</span></td>
                <td>Yaretzi Mayo</td>
              </tr>
              <tr>
                <td>6</td>
                <td>NobleUI NodeJs</td>
                <td>01/01/2024</td>
                <td>31/12/2024</td>
                <td><span class="badge bg-primary">Coming soon</span></td>
                <td>Carl Henson</td>
              </tr>
              <tr>
                <td class="border-bottom">3</td>
                <td class="border-bottom">NobleUI EmberJs</td>
                <td class="border-bottom">01/05/2024</td>
                <td class="border-bottom">10/11/2024</td>
                <td class="border-bottom"><span class="badge bg-info">Pending</span></td>
                <td class="border-bottom">Jensen Combs</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </div>
</div> <!-- row -->