<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" (submit)="isEditMode ? updateRecord($event) : onSubmit($event)">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Select Company <span class="text-danger">*</span></label>
              <ng-select
                [items]="companies"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.company_id"
                name="company_id"
                placeholder="Select one"
                [searchable]="true"
                (change)="clearError('company_id')"
                [ngModelOptions]="{standalone: false}">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.company_id">
                {{ formErrors.company_id[0] }}
              </div>
            </div>
            
            <div class="col-md-3 mb-3">
              <label class="form-label">First Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="first_name" [(ngModel)]="currentRecord.first_name" (ngModelChange)="clearError('first_name')">
              <div class="text-danger mt-1" *ngIf="formErrors.first_name">{{ formErrors.first_name[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" name="last_name" [(ngModel)]="currentRecord.last_name" (ngModelChange)="clearError('last_name')">
              <div class="text-danger mt-1" *ngIf="formErrors.last_name">{{ formErrors.last_name[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="currentRecord.username" (ngModelChange)="clearError('username')">
              <div class="text-danger mt-1" *ngIf="formErrors.username">{{ formErrors.username[0] }}</div>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label">Email Address <span class="text-danger">*</span></label>
              <input type="email" class="form-control" name="email" [(ngModel)]="currentRecord.email" (ngModelChange)="clearError('email')">
              <div class="text-danger mt-1" *ngIf="formErrors.email">{{ formErrors.email[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Purchase Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="purchase_date" ngbDatepicker #purchase_date="ngbDatepicker" [(ngModel)]="currentRecord.purchase_date" (ngModelChange)="clearError('purchase_date')">
                <button class="input-group-text" type="button" (click)="purchase_date.toggle()">
                  <i class="feather icon-calendar icon-md text-secondary"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="formErrors.purchase_date">{{ formErrors.purchase_date[0] }}</div>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label">Advance Fee</label>
              <input type="text" class="form-control" name="advance_fee" [(ngModel)]="currentRecord.advance_fee" (ngModelChange)="clearError('advance_fee')">
              <div class="text-danger mt-1" *ngIf="formErrors.advance_fee">{{ formErrors.advance_fee[0] }}</div>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label">Services Fee</label>
              <input type="text" class="form-control" name="services_fee" [(ngModel)]="currentRecord.services_fee" (ngModelChange)="clearError('services_fee')">
              <div class="text-danger mt-1" *ngIf="formErrors.services_fee">{{ formErrors.services_fee[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Subscribe Start</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="subscribe_start" ngbDatepicker #subscribe_start="ngbDatepicker" [(ngModel)]="currentRecord.subscribe_start" (ngModelChange)="clearError('subscribe_start')">
                <button class="input-group-text" type="button" (click)="subscribe_start.toggle()">
                  <i class="feather icon-calendar icon-md text-secondary"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="formErrors.subscribe_start">{{ formErrors.subscribe_start[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Subscribe End</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="subscribe_end" ngbDatepicker #subscribe_end="ngbDatepicker" [(ngModel)]="currentRecord.subscribe_end" (ngModelChange)="clearError('subscribe_end')">
                <button class="input-group-text" type="button" (click)="subscribe_end.toggle()">
                  <i class="feather icon-calendar icon-md text-secondary"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="formErrors.subscribe_end">{{ formErrors.subscribe_end[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Refer By</label>
              <input type="text" class="form-control" name="refer_by" [(ngModel)]="currentRecord.refer_by" (ngModelChange)="clearError('refer_by')">
              <div class="text-danger mt-1" *ngIf="formErrors.refer_by">{{ formErrors.refer_by[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Date of Birth</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="date_of_birth" ngbDatepicker #dob="ngbDatepicker" [(ngModel)]="currentRecord.date_of_birth" (ngModelChange)="clearError('date_of_birth')">
                <button class="input-group-text" type="button" (click)="dob.toggle()">
                  <i class="feather icon-calendar icon-md text-secondary"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="formErrors.date_of_birth">{{ formErrors.date_of_birth[0] }}</div>
            </div>
            
            <div class="col-md-3 mb-3">
              <label class="form-label">Select City</label>
              <ng-select
                [items]="cities"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.city_id"
                name="city_id"
                placeholder="Select one"
                [searchable]="true"
                [appendTo]="'body'"
                (change)="clearError('city_id')">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.city_id">{{ formErrors.city_id[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Select Gender <span class="text-danger">*</span></label>
              <ng-select
                [items]="gender"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.gender"
                name="gender"
                placeholder="Select one"
                [searchable]="false"
                (change)="clearError('gender')">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.gender">{{ formErrors.gender[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phone_number" [(ngModel)]="currentRecord.phone_number" (ngModelChange)="clearError('phone_number')">
              <div class="text-danger mt-1" *ngIf="formErrors.phone_number">{{ formErrors.phone_number[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Select Status <span class="text-danger">*</span></label>
              <ng-select
                [items]="status"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.status"
                name="status"
                placeholder="Select one"
                [searchable]="false"
                (change)="clearError('status')">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.status">{{ formErrors.status[0] }}</div>
            </div>
        
            <div class="col-md-12 mb-3">
              <label class="form-label">Address</label>
              <textarea class="form-control" name="address" rows="3" [(ngModel)]="currentRecord.address" (ngModelChange)="clearError('address')"></textarea>
              <div class="text-danger mt-1" *ngIf="formErrors.address">{{ formErrors.address[0] }}</div>
            </div>
        
            <!-- Form Actions -->
            <div class="col-12 mt-3">
              <button type="submit" [disabled]="isLoading" class="btn btn-primary">Save Changing</button>
            </div>

            <div class="col-12 mt-3" *ngIf="globalErrorMessage">
              <div class="alert alert-danger text-center">
                {{ globalErrorMessage }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>